$gradient: linear-gradient(to right, #A3A8F0, #696FDD);
$white: #F6F6FE;
$grayishBlue: #6D708D;
$darkBlue: #494c5f;
$lightBlue: #b3b5c6;

html
{
    font-size: 15px;
}

body
{
    background-color: $white;
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: 15rem 0, left bottom;
    background-attachment: scroll;
    font-family: Montserrat;
    margin: 0;
}

/* =========
    Pricing
   ========= */

.pricing
{
    width: 100%;
    color: $lightBlue;
    text-align: center;
    
    &__title
    {
        font-size: 2rem;
        color: $grayishBlue;
    }

    &__label
    {
        display: flex;
        justify-content: center;
        align-items: center;

        p
        {
            margin: 0;
        }
    }

    &__toggle
    {
        height: 2rem;
        width: 3.5rem;
        border-radius: 30px;
        background-image: $gradient;
        cursor: pointer;
        margin: 0 1.5rem;
        position: relative;

        input
        {
            width: 0;
            height: 0;
            opacity: 0;
            cursor: pointer;
        }

        .toggle__button
        {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            right: 1.6rem;
            top: 0.2rem;
            transition: .3s;
        }

        .toggle__button--monthly
        {
            right: .3rem;
        }
    }
}

/* =========
    Tariffs
   ========= */

.content
{
    width: 87%;
    margin: 0 auto;

    .tariff
    {
        width: 100%;
        background-color: white;
        color: $grayishBlue;
        text-align: center;
        border-radius: 10px;
        margin: 2rem 0;
        transition: .3s;

        &__title
        {
            padding-top: 2rem;
        }

        &__price
        {
            display: none;
            color: $darkBlue;
        }

        &__price--active
        {
            display: block;
            font-size: 4rem;
            margin: 1.5rem 0;

            span
            {
                font-size: 2rem;
                vertical-align: 25%;
                margin-right: .3rem;
            }
        }

        &__features
        {
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            width: 82%;
            border-bottom: 1px solid $lightBlue;
        }

        &__item
        {
            padding: 1rem 0;
            border-top: 1px solid $lightBlue;
        }

        &__button
        {
            background-image: $gradient;
            border: 0;
            font-family: Montserrat;
            color: white;
            width: 82%;
            height: 3rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 5px;
            margin: 2rem auto;
            cursor: pointer;
        }
    }

    .tariff--active
    {
        color: white;
        background-image: $gradient;
        transition: .3s;
        
        .tariff__price
        {
            color: white;
        }

        .tariff__button
        {
            background-image: none;
            background-color: white;
            color: hsl(237, 64.2%, 70.4%);
        }
    }
}

/* ========
    Footer
   ======== */

.footer
{
    text-align: center;

    &__attribution
    {
        width: 82%;
        margin: 0 auto;
        a
        {
            background-image: $gradient;
            background-clip: text;
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media only screen and (min-width: 1000px)
{
    body
    {
    background-position: right top, left bottom;
    background-attachment: scroll;
    }

    .pricing
    {
        margin-bottom: 2rem;
    }

    .content
    {
        display: flex;

        .tariff--active
        {
            background-image: $gradient;
            margin-top: 0;
            margin-bottom: 0;
            border-image: $gradient;
            border-top: 2rem solid;
            border-bottom: 2rem solid;
            border-radius: 10px;
        }
    }
}